@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ********************************START HEADER***************************************** */

.header {
  margin: 0;
  padding: 0;
  max-height: 150px;
}

.header figure {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header #BannerImg {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* ********************************END HEADER***************************************** */

/* ********************************GRID LAYOUT***************************************** */

.main-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "section-1 section-1"
    "aside section-2"
    "aside section-2"
    "footer footer";
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto 1fr 1fr auto;
  flex: 1;
}
/* ********************************GRID LAYOUT***************************************** */

/* ********************************ASIDE BAR***************************************** */

.aside {
  grid-area: aside;
  padding: 0px;
  background-color: #f4f4f4;
  border-right: 1px solid #333;
  box-sizing: border-box;
}

.aside h5 {
  margin: 15px 5px 15px 15px;
}

.search {
  margin: 20px 0px 0px 0px;
  padding: 0;
  border: 0;
  width: 100%;
}

.search a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.search li {
  margin: 10px 0px 10px 0px;
}

/* ********************************ASIDE BAR***************************************** */

/* ********************************SECTION 1***************************************** */
.section-1 {
  grid-area: section-1;
  display: flex;
  align-items: center;
  background-color: #000000;
  text-align: center;
  width: 100%;
}
.section-1 nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.section-1 a {
  color: #f0edee;
  font-size: 16px;
  padding: 0 15px;
  text-decoration: none;
}
.section-1 a :hover {
  text-shadow: 1px 1px 4px rgba(185, 185, 185, 0.5);
}
.logo-container,
.nav-buttons {
  padding-left: 20px;
  margin: 10px 0px 10px 0px;
  flex-shrink: 0;
}
.logo-container {
  padding-left: 20px;
}
.logo-container #logo {
  height: 40px;
  width: 79px;
  display: block;
}
.nav-buttons {
  padding-right: 20px;
}
.nav-buttons a {
  padding: 0 10px;
}
/* ********************************END SECTION 1***************************************** */

/* ********************************SECTION 2***************************************** */
.section-2 {
  display: flex;
  grid-area: section-2;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f0edee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* *******INTRO******* */

.section-2 .intro {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  width: 60%;
  height: auto;
  text-align: justify;
}

.intro figure {
  width: 100%;
}

.intro #MP {
  max-width: 100%;
  width: 100%;
  border: 1px solid #000000;
}

.intro h1,
.top1 h1 {
  margin: 10px 0px 10px 0px;
  font-size: 30px;
  color: #2c666e;
}

.intro p,
.top1 p {
  margin: 0;
}

/* *******INTRO******* */

/* *******TOP-1******* */
.top1 {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: justify;
}

.explain {
  width: 60%;
}

.codexample {
  margin: 20px 0px 20px 0px;
  display: flex;
  width: auto;
  max-width: auto;
  justify-content: center;
  flex-direction: row;
}

.textbox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.codexample p {
  margin: 20px 0px 0px 0px;
}

pre {
  background-color: #000000;
  color: #f4f4f4;
  margin: 0;
  font-family: "Fira Code";
  padding: 10px;
  overflow-x: auto;
}

code {
  display: block;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* *******TOP-1******* */

/* ********************************END SECTION 2***************************************** */

/* ********************************FOOTER***************************************** */
.footer {
  grid-area: footer;
  align-items: center;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.socialnet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
}

.socialnet figure {
  margin: 0 10px;
  width: 20px;
  height: 20px;
}

.socialnet img {
  width: 100%;
  height: 100%;
}

.footer h5 {
  padding: 10px 0;
  color: #f4f4f4;
  margin: 0;
}
/* ********************************FOOTER***************************************** */
